<article class="post-item">
  <h2><%= post.title %></h2>
  <p class="post-item-author">Rédigé par <%= post.author.name %></p>
  <p><%= post.summary %></p>
  <div class="post-actions">
    <form action="/blog/<%= post._id %>/delete" method="POST">
      <button class="btn btn-alt">Supprimer</button>
    </form>
    <a href="/blog/<%= post._id %>/edit">Modifier</a>
    <a class="btn" href="/blog/<%= post._id %>">Lire l'Article</a>
  </div>
</article>
